#alert {
  margin-bottom: 0;
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
}
#alert .alert span:nth-child(2) {
  font-weight: bolder;
}
#alert .alert span:nth-child(3) {
  padding-left: 2%;
}
#anime-div .anime-header {
  margin-left: 15px;
}
#anime-div .anime-header p {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}
#anime-div .anime-line {
  margin-left: 15px;
  border: 2px solid #8AC024;
  margin-bottom: 10px;
}
