#search-div {
  #navigation nav .row div .search-form {
    width: 93%;
  }
  @media (max-width: 768px) {
    #index-page #navigation nav .row div .search-form {
      width: 100%;
    }
  }
  #navigation nav .row div .search-form .search-bar {
    width: 60%;
  }
  @media (max-width: 768px) {
    #index-page #navigation nav .row div .search-form .search-bar {
      display: inline-block;
    }
  }
  #navigation nav .row div .search-form .search-bar .search-text {
    width: 100%;
  }
  #navigation nav .row div .search-form .search-button {
    height: 34px;
    width: 112px;
  }
  @media (min-width: 1200px) {
    #navigation nav .row .nav-account ul li {
      margin: 0 15px;
    }
  }
  @media (max-width: 1200px) {
    #navigation nav .row .nav-account ul li {
      margin: 0;
    }
  }
  @media (max-width: 992px) {
    #navigation nav .row .nav-account ul li a {
      padding: 15px 10px;
    }
  }

  #search-result-div {
    margin-top: 100px;
    .search-result-tip {
      margin-bottom: 50px;
      p {
        line-height: 30px;
      }
    }
    .search-result-item {
      div {
        .search-result-desc {
          height: 110px;
        }
        .click-play {
          //display: inline-block;
          //background-color: #00b3ee;
        }
        .break-line {
          margin: 10px 0;
          height: 2px;
          background-color: #8c8c8c;
        }
      }

    }
  }
}