@import "common/main";
#videofunc-div {
    background-color: #292929;
    height: 52px;
    div {
        .content {
            ol {
                margin: 0;
                color: #F2F2F2;
                li {
                    line-height: 52px;
                    float: right;
                    right: 20px;
                    width: 65px;
                    display: inline-block;
                    margin: 0 10px;
                    span {
                        padding: 0 2px;
                    }
                }
                .play-number{
                 width: 90px;
                }
                .star {
                    color: #FACB05;
                }
                .stared {}
                .thumb {
                    color: rgba(22, 184, 227, 0.84);
                }
                .thumbed {}
                span:hover {
                    cursor: pointer;
                }
                iframe{
                  float: right;
                  line-height: 45px;
                  margin-right: 40px;
                  margin-top: 18px;
                }

            }
        }
    }
}
