@import "common/main";

body{
  // background-color: black;
}
#video-div {

  #navigation nav .row div .search-form {
    width: 93%;
  }
  @media (max-width: 768px) {
    #index-page #navigation nav .row div .search-form {
      width: 100%;
    }
  }
  #navigation nav .row div .search-form .search-bar {
    width: 60%;
  }
  @media (max-width: 768px) {
    #index-page #navigation nav .row div .search-form .search-bar {
      display: inline-block;
    }
  }
  #navigation nav .row div .search-form .search-bar .search-text {
    width: 100%;
  }
  #navigation nav .row div .search-form .search-button {
    height: 34px;
    width: 112px;
  }
  @media (min-width: 1200px) {
    #navigation nav .row .nav-account ul li {
      margin: 0 15px;
    }
  }
  @media (max-width: 1200px) {
    #navigation nav .row .nav-account ul li {
      margin: 0;
    }
  }
  @media (max-width: 992px) {
    #navigation nav .row .nav-account ul li a {
      padding: 15px 10px;
    }
  }

  #videoplay-div {
    .fp-ui{
      .fp-controls{
        .fp-brand{
          display: none;
        }
      }
    }
    margin:50px 145px 0 145px;
  }
}
